{% extends "base.html" %} {% block title %}{{ block.super }} | Feed{% endblock title %} 



{% block script %}
<script type="text/javascript">
	
	$(document).ready(function() {
		loadSculptContainer("sculpt-container")
	});



</script>
{% endblock script %}

 {% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12" >
        <h1>{{ obj.tag }}</h1> </div>

    <div class="col-sm-9"> 
       
        <div id="sculpt-container" data-url="/api/tags/{{ obj.tag }}/"></div>
        <a href="#" id="loadmore">Load more Sculpts</a>

    </div>
</div> {% endblock content %}