

{% load static %}

{% for profile in recommended %}
	


  <li class="inline-items">
            <div class="author-thumb post__author">
              <img src="{{ profile.user.profile.profile_image.url }}" alt="author">
            </div>
            <div class="notification-event">
              <a href="/{{ profile.user.username }}" class="h6 notification-friend">{{ profile.user.username }}</a>
              
            </div>
            <span class="notification-icon">
              <a href="/{{ profile.user.username }}/follow" class="accept-request">
                <span class="icon-add without-text">
                                    <i class="fa fa-user-plus olymp-happy-face-icon"></i>
                  
                </span>
              </a>
            </span>
          </li>
                

              
{% empty %}
		<h4>You are following everyone. It's time to write up!</h4>
              {% endfor %}