

{% load static %}

{% for profile in recommended %}
	<div  class="follow-user">

    
                <img src="{% static 'images/dp.jpg' %}" alt="" class="profile-photo-sm pull-left" />
                <div>
                  <h5><a href="/{{ profile.user.username }}">{{ profile.user.username }}</a></h5>
                  <a href="/{{ profile.user.username }}/follow" class="text-green">Follow</a>
                </div>
                	
                 
                
                </div>
                

              
{% empty %}
		<h4>You are following everyone. It's time to write up!</h4>
              {% endfor %}