<!-- {% load crispy_forms_tags %} -->

<form  class="form {% if form_class %}{{ form_class }}{% endif %}" method="POST" enctype="multipart/form-data" action="{% if action_url %}{{ action_url }}{% endif %}">
	{% csrf_token %}


   
    {{ form.content }}
  <br>
  <br>


    {{ form.image }}

	
	
	

	
	<br>
	<br>
	<div class="progress progress-striped active" >
    <div class="bar" style="width: 0%;"><span id="percent"></span></div>
</div>
	
<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
	<button class="btn btn-primary pull-right"  type="submit" value="Post" >Post</button>
</div>
</form>



