{% extends "base.html" %} {% block title %}{{ block.super }} | Feed{% endblock title %} {% block script %}
<script type="text/javascript">
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)")
            , results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }
    $(document).ready(function () {
        // console.log('working');
        var query = getParameterByName('q')
            // console.log(query)
        var sculptlist = [];
        var nextSculptUrl;

        function attachSculpt(sculptValue, prepend) {
            // console.log(key)
            // console.log(value.user)
            // console.log(value.content)
            var dateDisplay = sculptValue.date_display;
            var sculptContent = sculptValue.content;
            var sculptImage = sculptValue.image;
            var sculptUser = sculptValue.user;
            // console.log(sculptImage);
            if (prepend == true) {
                if (sculptImage == null) {
                    $('#sculpt-container').prepend("<div class=\"media\"><div class=\"media-body\"><h5 class=\"mt-0\">" + sculptUser.username + "</h5><pre>" + sculptContent + "</pre><br><br> via " + sculptUser.username + "|" + dateDisplay + " | " + "<a href = '#'>View</a>" + " </div></div><hr>")
                }
                else {
                    $('#sculpt-container').prepend("<div class=\"media\"><div class=\"media-body\"><h5 class=\"mt-0\">" + sculptUser.username + "</h5><pre>" + sculptContent + "</pre><img src=\"" + sculptImage + "\" height=\"200px\"  /><br><br> via " + sculptUser.username + " | " + dateDisplay + " | " + "<a href = '#'>View</a>" + " </div></div><hr>")
                }
            }
            else {
                if (sculptImage == null) {
                    $('#sculpt-container').append("<div class=\"media\"><div class=\"media-body\"><h5 class=\"mt-0\">" + sculptUser.username + "</h5><pre>" + sculptContent + "</pre><br><br> via " + sculptUser.username + "|" + dateDisplay + " | " + "<a href = '#'>View</a>" + " </div></div><hr>")
                }
                else {
                    $('#sculpt-container').append("<div class=\"media\"><div class=\"media-body\"><h5 class=\"mt-0\">" + sculptUser.username + "</h5><pre>" + sculptContent + "</pre><img src=\"" + sculptImage + "\" height=\"200px\"  /><br><br> via " + sculptUser.username + " | " + dateDisplay + " | " + "<a href = '#'>View</a>" + " </div></div><hr>")
                }
            }
        }

        function parseSculpts() {
            if (sculptlist == 0) {
                $('#sculpt-container').text("No sculpts currently found")
            }
            else {
                // $('#sculpt-container').empty()
                // sculpts exist - parse and display them
                $.each(sculptlist, function (key, value) {
                    var sculptKey = key;
                    attachSculpt(value)
                })
            }
        }

        function fetchSculpts(url) {
            console.log("fetching...")
            var fetchurl;

            if (!url) {
                fetchurl = "/api/sculpt/"
            } else {
                fetchurl = url
            }



            $.ajax({
                url: fetchurl
                , data: {
                    "q": query
                }
                , method: "GET"
                , success: function (data) {
                    // console.log(data)
                    sculptlist = data.results

                    if (data.next) {
                    nextSculptUrl = data.next
                    } else {
                        $('#loadmore').css('display', 'none')
                    } 
                    parseSculpts()
                }
                , error: function (data) {
                    console.log("error")
                    console.log(data)
                }
            })
        }
        fetchSculpts();

        $('#loadmore').click(function(event){
            event.preventDefault()

            if (nextSculptUrl) {
                fetchSculpts(nextSculptUrl)
            }
            // load more items

        })

        var charsStart = 0;
        var charsCurrent = 0;

        $("#sculpt-form").append("<span id='sculptCharsLeft'>" + charsStart +  "</span>")

        $("#sculpt-form textarea").keyup(function(event){

        	//console.log(event.key, event.timeStamp)
        	var sculptValue = $(this).val()
        	charsCurrent = charsStart + sculptValue.length
        	$("#sculptCharsLeft").text(charsCurrent)
        })



        $("#sculpt-form").submit(function (event) {
            event.preventDefault()
            var this_ = $(this)
            var formData = new FormData(document.getElementById("sculpt-form"));
            // console.log(formData)
            $.ajax({
                    url: "/api/sculpt/create/"
                    , data: formData
                    , type: "POST"
                    , processData: false, // tell jQuery not to process the data
                    contentType: false, // tell jQuery not to set contentType
                    success: function (data) {
                        // console.log(data)
                        this_.find("input[type=text], textarea").val("")
                        this_.find("input[type=file]").val(null)
                        attachSculpt(data, true)
                            // fetchSculpts();
                            // sculptList = data
                            // parseSculpts()
                    }
                    , error: function (data) {
                        console.log("error")
                        console.log(data)
                    }
                })
                // formData.append('image', $('#id_image').prop('files')[0]);
                // formData.append('text', $('#id_content').val());
            console.log(formData)
        })
    });
</script> {% endblock script %}


 {% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12" style="background-color: teal;">
        <h1>{{ request.user }}</h1> </div>
    <div class="col-sm-9"> {% if not request.GET.q %}
        <div class=""> {% include "sculpts/form.html" with form=create_form action_url=create_url btn_title='Sculpt' form_id='sculpt-form' %} </div>
        <hr> {% endif %}
        <div id="sculpt-container"> </div>
        <a href="#" id='loadmore'>Load More Sculpts</a>
    </div>
</div> {% endblock content %}