<form class="form-inline" method="GET" action='{% url "sculpt:list" %}'>
	<div class="form-group">
	<input  class="form-control" type="text" name="q" placeholder="Your Search" value="{{ request.GET.q }}" />
		</div>
	<input class="btn btn-default" type="submit" value="Search">
</form>


<!-- it takes the search term here, and uses the get_queryset function from views.py list view class to search for the terms in the sculpts. and then passes this through the listview.html to either show if the term is present or not.
 -->