
{% load static %}


{% load recommended %}


<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <title>Update Post | Inksculpt </title>
  </head>


<body>
    	
    {% include "navbar.html" %}

    <!-- <img src = "{{ object.image_thumbnail.url }}"> -->

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        



        
        <div id="page-contents">
          <div class="row">
          
{% include "sculpts/form.html" with form=form btn_title='Update' %}
             

              
        



           


           
          </div>
        </div>









    </div>
</div>








<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'js/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/script.js' %}"></script>


   






  
  </body>
</html>
































