<script type="text/javascript">
		
		$(document).ready(function() {

			var typingTimer;
			var doneInterval = 700;
			var searchInput = $("#navbar-search-form input[type=text]")
			var searchQuery;

			searchInput.keyup(function(event){
				searchQuery = $(this).val()
			
				clearTimeout(typingTimer)
				typingTimer = setTimeout(doneSearchTyping, doneInterval)

			})


			searchInput.keydown(function(event){
				clearTimeout(typingTimer)
			
			})


			function doneSearchTyping() {

				if (searchQuery){
					
					var url = '/search/?q=' + searchQuery
					document.location.href = url

				}

			}

		})




</script>