<!-- <form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
</form> -->






{% load static %}


{% load recommended %}


<html lang="en">
  <head>

  <title>{{ object.username }} | Password </title>

  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Main Font -->
  <script src="{% static 'static/js/webfontloader.min.js' %}"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Roboto:300,400,500,700:latin']
      }
    });
  </script>
  

<style type="text/css">
  .white-space-pre {
    white-space: pre-wrap;

}
.swiper-slide,.swiper-wrapper{position:relative;width:100%}
</style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'static/Bootstrap/dist/css/bootstrap-reboot.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/Bootstrap/dist/css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/Bootstrap/dist/css/bootstrap-grid.css' %}">

  <!-- Main Styles CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/main.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'static/css/fonts.min.css' %}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>


<body>
	
    	
    {% include "navbar.html" %}
    

    <div class="container">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="ui-block">
                    <div class="top-header">
                        <div class="top-header-thumb"> <img src="{{ user.profile.cover_image.url }}" alt="nature"> </div>
                        <div class="profile-section">
                            <div class="row">
                                <div class="col col-lg-5 col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li> <a href="{% url 'profiles:detail' user.username %}" >Timeline</a> </li>
                                        <li> <a href="{% url 'profiles:about' user.username %}">About</a> </li>
                                        <li> <a href="{% url 'profiles:album' user.username %}" >Album</a> </li>
                                    </ul>
                                </div>
                                <div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
                                    <ul class="profile-menu">
                                        <li> <a href="{% url 'profiles:followers' user.username %}"  >Followers ({{ user.followed_by.all.count }})</a> </li>
                                        <li> <a href="{% url 'profiles:following' user.username %}" class="active">Following ({{ user.profile.get_following.count }})</a> </li>
                                        <li>
                                            <div class="more"> <i class="fas fa-ellipsis-h "></i>
                                                <ul class="more-dropdown more-with-triangle">
                                                    <li> <a href="#">Report Profile</a> </li>
                                                    
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="control-block-button">


                                

                                
               <div class="btn btn-control bg-primary more"> <i class="fas fa-sliders-h " style="color: white"></i>
                                    <ul class="more-dropdown more-with-triangle triangle-bottom-right">
                                        <li> <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a> </li>
                                        <li> <a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a> </li>
                                        <li> <a href="{% url 'profiles:profileedit'  %}">Edit</a> </li>
                                    </ul>
                                </div>

              

               
                            </div>
                        </div>
                        <div class="top-header-author">
                            <a href="02-ProfilePage.html" class="author-thumb "> <img src="{{ user.profile.profile_image.url }}" alt="author"> </a>
                            <div class="author-content"> <a href="#" class="h4 author-name">{{ user.username }}</a>
                                <div class="country">{{user.first_name}} &nbsp; {{ user.last_name }}</div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
  <div class="row">
    <div class="col col-xl-9 order-xl-2 col-lg-9 order-lg-2 col-md-12 order-md-1 col-sm-12 col-12">
      <div class="ui-block">
        <div class="ui-block-title">
          <h6 class="title">Personal Information</h6>
        </div>
        <div class="ui-block-content">

          
          <!-- Personal Information Form  -->
          
          <form method="post">
            {% csrf_token %}
            <div class="row">
          
              <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="form-group label-floating">
                  <label class="control-label">Confirm Current Password</label>
                  {{ form.old_password.errors }}
                        {{ form.old_password }}
                </div>
              </div>
          
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Your New Password</label>
                  {{ form.new_password1.errors }}
                        {{ form.new_password1 }}
                </div>
              </div>
              <div class="col col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="form-group label-floating is-empty">
                  <label class="control-label">Confirm New Password</label>
                  {{ form.new_password2.errors }}
                        {{ form.new_password2 }}
                </div>
              </div>
          
              <div class="col col-lg-12 col-sm-12 col-sm-12 col-12">
                <div class="remember">
          
                  
          
                  <a href="#" class="forgot">Forgot my Password</a>
                </div>
              </div>
          
              <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <button class="btn btn-primary btn-lg full-width" type="submit" >Change Password Now!</button>
              </div>
          
            </div>
          </form>
          
          <!-- ... end Personal Information Form  -->
        </div>
      </div>
    </div>

    <div class="col col-xl-3 order-xl-1 col-lg-3 order-lg-1 col-md-12 order-md-2 col-sm-12  responsive-display-none">
      <div class="ui-block">

        
        
        <!-- Your Profile  -->
        
        <div class="your-profile">
          <div class="ui-block-title ui-block-title-small">
            <h6 class="title">Your PROFILE</h6>
          </div>
        
          
        
          <div class="ui-block-title">
            <a href="{% url 'profiles:profileedit'  %}" class="h6 title">Personal Information</a>
            
          </div>
          <div class="ui-block-title">
            <a href="{% url 'profiles:profileimageedit'  %}" class="h6 title">Update Images</a>
          </div>
          <div class="ui-block-title">
            <a href="{% url 'profiles:change_password'  %}" class="h6 title">Change Password</a>
            
          </div>
          
        </div>
        
        <!-- ... end Your Profile  -->
        

      </div>
    </div>
  </div>
</div>


   








<script src="{% static 'static/js/jquery-3.2.1.js' %}"></script>
<script src="{% static 'static/js/jquery.appear.js' %}"></script>
<script src="{% static 'static/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'static/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'static/js/jquery.matchHeight.js' %}"></script>
<script src="{% static 'static/js/svgxuse.js' %}"></script>
<script src="{% static 'static/js/imagesloaded.pkgd.js' %}"></script>
<script src="{% static 'static/js/Headroom.js' %}"></script>
<script src="{% static 'static/js/velocity.js' %}"></script>
<script src="{% static 'static/js/ScrollMagic.js' %}"></script>
<script src="{% static 'static/js/jquery.waypoints.js' %}"></script>
<script src="{% static 'static/js/jquery.countTo.js' %}"></script>
<script src="{% static 'static/js/popper.min.js' %}"></script>
<script src="{% static 'static/js/material.min.js' %}"></script>
<script src="{% static 'static/js/bootstrap-select.js' %}"></script>
<script src="{% static 'static/js/smooth-scroll.js' %}"></script>
<script src="{% static 'static/js/selectize.js' %}"></script>
<script src="{% static 'static/js/swiper.jquery.js' %}"></script>
<script src="{% static 'static/js/moment.js' %}"></script>
<script src="{% static 'static/js/daterangepicker.js' %}"></script>
<script src="{% static 'static/js/simplecalendar.js' %}"></script>
<script src="{% static 'static/js/fullcalendar.js' %}"></script>
<script src="{% static 'static/js/isotope.pkgd.js' %}"></script>
<script src="{% static 'static/js/ajax-pagination.js' %}"></script>
<script src="{% static 'static/js/Chart.js' %}"></script>
<script src="{% static 'static/js/chartjs-plugin-deferred.js' %}"></script>
<script src="{% static 'static/js/circle-progress.js' %}"></script>
<script src="{% static 'static/js/loader.js' %}"></script>
<script src="{% static 'static/js/run-chart.js' %}"></script>
<script src="{% static 'static/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'static/js/jquery.gifplayer.js' %}"></script>
<script src="{% static 'static/js/mediaelement-and-player.js' %}"></script>
<script src="{% static 'static/js/mediaelement-playlist-plugin.min.js' %}"></script>

<script src="{% static 'static/js/base-init.js' %}"></script>
<script defer src="{% static 'static/fonts/fontawesome-all.js' %}"></script>

<script src="{% static 'static/Bootstrap/dist/js/bootstrap.bundle.js' %}"></script>
{% include "search-js.html" %}

    <script >
    $(document).ready(function() {
        // $("form input").addClass('form-control')
       $("form input").addClass('form-control')
        $("form input").addClass('input-group-lg')
        
    });




</script>




  


  
  </body>
</html>