{% extends "base.html" %}
{% block title %}{{ block.super }} | Detail{% endblock title %}
{% block content %}

<div class="row">
	<div class="col-sm-3 col-xs-12" >
		<h1>{{ object.username }}</h1>
		<hr>
		<p>followers: {{ object.followed_by.all.count }} </p>
		<p><a class="btn btn-link" href="{{ object.profile.get_follow_url }}">
			{% if following %}Unfollow{% else %}Follow{% endif %}

		</a></p>
</div>
<div class="col-sm-9 col-xs-12"  >
	<h1>Sculpts</h1>

	{% for sculpt in object.sculpt_set.all %}

		{{ sculpt }} <br/>
	{% endfor %}

	<hr>
	<h1>Following <small>{{ object.profile.get_following.count }}</small></h1>

	{% for user in object.profile.get_following %}

		<a href='/{{ user.username }}'>{{ user.username }}</a> <br/>

		{% empty %}
		<h4>Not Following Any Users </h4>

	{% endfor %}


	<hr>
	<h1>Followed By</h1>

	{% for profile in object.followed_by.all %}

		<a href='/{{ profile.user.username }}'>{{ profile.user.username }}</a> <br/>

		{% empty %}
		<h4>Not Followed by Any Users </h4>

	{% endfor %}

	<!-- <pre>{{ object.content }}</pre><br>
	{% if object.image %}
				<img src="{{ object.image.url }}" height="200px"  /><br>
			{% endif %}
	 

{{ object.timestamp }} | {{ object.timestamp|timesince }}<br> -->

</div>







{% endblock content %}