



{% load static %}


{% load recommended %}


<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <title>{% block title %} Inksculpt {% endblock title %}</title>

    <style type="text/css">
    	{% if user.profile.cover_image %}
    .timeline-cover{
  background: url("{{ user.profile.cover_image.url }}") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
} 
{% else %}
.timeline-cover{
  background: url("{% static 'images/cover.png' %}") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
} 
{% endif %}


    	.profile-info:hover .edit  {
    			display: block;
    	}

    	.edit {

	padding-top: 40px;	
	padding-right: 60px;

	position: absolute;
	right: 0;
	top: 0;
	display: none;
	
}
.edit a {
	color: #000;
}


    </style>

  </head>


<body>
	
    	
    {% include "navbar.html" %}

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">

                  <div class="editbutton">
                  {% if user.profile.profile_image %} 

                    <img src="{{ user.profile.profile_image.url }}" alt="" class="img-responsive profile-photo" />
                     <div class="edit"><a href="#" ><i class="fa fa-pencil fa-lg"></i></a></div>
                    {% else %} 
                    <img src="{% static 'images/dp.jpg' %}" alt="" class="img-responsive profile-photo" />
                    {% endif %}
                   
                  </div>
                  
                  
                  <h3>{{ user.username }}</h3>
                
                  
                  <p class="text-muted">{{ user.first_name }} &nbsp; {{ user.last_name }}</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="{% url 'profiles:detail' user.username %}" >Timeline</a></li>
                  <li><a href="{% url 'profiles:about' user.username %}" class="active">About</a></li>
                  <li><a href="{% url 'profiles:album' user.username %}">Album</a></li>
                  <li><a href="{% url 'profiles:following' user.username %}">Following ({{ object.profile.get_following.count }})</a></li>
                  <li><a href="{% url 'profiles:followers' user.username %}">Followers ({{ object.followed_by.all.count }})</a></li>
                </ul>
                <ul class="follow-me list-inline">
                  


                  {% if request.user.get_username != user.username %}
                  <li><a class="btn-primary" href="{{ user.profile.get_follow_url }}">{% if following %}Unfollow{% else %}Follow{% endif %}</a></li>
        
               {% else %}

              <li><a class="btn-primary" href="{% url 'profiles:profileedit'  %}"><i class="fa fa-pencil "></i>&nbsp; Edit</a></li>

               {% endif %}

                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">

              <div class="editbutton">
                  {% if user.profile.profile_image %} 

                    <img src="{{ user.profile.profile_image.url }}" alt="" class="img-responsive profile-photo" />
                     <div class="edit"><a href="#" ><i class="fa fa-pencil fa-lg"></i></a></div>
                    {% else %} 
                    <img src="{% static 'images/dp.jpg' %}" alt="" class="img-responsive profile-photo" />
                    {% endif %}
                   
                  </div>
              <h4>{{ user.username }}</h4>
              <p class="text-muted">{{ user.first_name }} &nbsp; {{ user.last_name }}</p>

              
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
                <li><a href="{% url 'profiles:detail' user.username %}" >Timeline</a></li>
                  <li><a href="{% url 'profiles:about' user.username %}" class="active">About</a></li>
                  <li><a href="{% url 'profiles:album' user.username %}">Album</a></li>
                  <li><a href="{% url 'profiles:following' user.username %}">Following ({{ object.profile.get_following.count }})</a></li>
                  <li><a href="{% url 'profiles:followers' user.username %}">Followers ({{ object.followed_by.all.count }})</a></li>
              </ul>

              {% if request.user.get_username != user.username %}
                  <a class="btn-primary" href="{{ user.profile.get_follow_url }}">{% if following %}Unfollow{% else %}Follow{% endif %}</a>
        
               {% else %}

              <li><a class="btn-primary" href="{% url 'profiles:profileedit'  %}"><i class="fa fa-pencil "></i>&nbsp; Edit</a></li>

               {% endif %}

              
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>



        
        <div id="page-contents">
          <div class="row">

            <div class="col-md-3">
              
              <!--Edit Profile Menu-->
              <ul class="edit-menu">
              	<li ><i class="icon ion-ios-information-outline"></i><a href="{% url 'profiles:profileedit'  %}">Basic Information</a></li>
                <li class="active"><i class="icon ion-ios-camera-outline"></i><a href="{% url 'profiles:profileimageedit'  %}">Update Images</a></li>
                <li ><i class="icon ion-ios-locked-outline"></i><a href="{% url 'profiles:change_password'  %}">Change Password</a></li>
                <li ><i class="icon ion-ios-settings"></i><a href="#">Account Settings</a></li>
              </ul>
            </div>


            <div class="col-md-7">

              <div class="edit-profile-container">
                <div class="block-title">
                  <h4 class="grey"><i class="icon ion-android-checkmark-circle"></i>Edit Your information</h4>
                  <div class="line"></div>
                  <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate</p>
                  <div class="line"></div>
                </div>
                <div class="edit-block">
                  <form name="basic-info" id="basic-info" class="form-inline" method="post" enctype="multipart/form-data">
                  	{% csrf_token %}
                    
                    <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email">Profile Image</label>
                        {{ profileimage_form.profile_image }}
                      </div>
                    </div>
                    

                    <hr>



                   <div class="row">
                      <div class="form-group col-xs-12">
                        <label for="email">Cover Image</label>
                        {{ profileimage_form.cover_image }}
                      </div>
                    </div>
                    
                    
                   
                    <button class="btn btn-primary" type="submit">Save Changes</button>
                  </form>
                </div>
              </div>

             



            </div>


            <div class="col-md-2 static">
              <div id="sticky-sidebar">
                <h4 class="grey">Recommended Users</h4>
                <div class="feed-item">
                  <div class="live-activity">
                    {% recommended request.user %}
                    
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>









    </div>
</div>








<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'js/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/script.js' %}"></script>

  {% include "search-js.html" %}
    <script >
    $(document).ready(function() {
        // $("form input").addClass('form-control')
       
        
    });




</script>




  


  
  </body>
</html>