{% load static %}


{% load recommended %}


<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
    <title>{% block title %} Inksculpt {% endblock title %}</title>
    <style type="text/css">
      
    {% if user.profile.cover_image %}
    .timeline-cover{
  background: url("{{ user.profile.cover_image.url }}") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
} 
{% else %}
.timeline-cover{
  background: url("http://placehold.it/1030x360") no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 360px;
  border-radius: 0 0 4px 4px;
  position: relative;
} 
{% endif %}

      .profile-info:hover .edit  {
          display: block;
      }

      .edit {

  padding-top: 40px;  
  padding-right: 60px;

  position: absolute;
  right: 0;
  top: 0;
  display: none;
  
}
.edit a {
  color: #000;
}


    </style>
  </head>

{% include "reply-modal.html" %}
<body>
    	
    {% include "navbar.html" %}

    <div class="container">

      <!-- Timeline
      ================================================= -->
      <div class="timeline">
        <div class="timeline-cover">

          <!--Timeline Menu for Large Screens-->
          <div class="timeline-nav-bar hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-3">
                <div class="profile-info">

                  <div class="editbutton">
                  {% if object.profile.profile_image %} 

                    <img src="{{ object.profile.profile_image.url }}" alt="" class="img-responsive profile-photo" />
                     <div class="edit"><a href="#" ><i class="fa fa-pencil fa-lg"></i></a></div>
                    {% else %} 
                    <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
                    {% endif %}
                   
                  </div>
                  
                  
                  <h3>{{ object.username }}</h3>
                
                  
                  <p class="text-muted">Creative Director</p>
                </div>
              </div>
              <div class="col-md-9">
                <ul class="list-inline profile-menu">
                  <li><a href="{% url 'profiles:detail' object.username %}" >Timeline</a></li>
                  <li><a href="{% url 'profiles:about' object.username %}" >About</a></li>
                  <li><a href="{% url 'profiles:album' object.username %}">Album</a></li>
                  <li><a href="{% url 'profiles:following' object.username %}">Following ({{ object.profile.get_following.count }})</a></li>
                  <li><a href="{% url 'profiles:followers' object.username %} " class="active">Followers ({{ object.followed_by.all.count }})</a></li>
                </ul>
                <ul class="follow-me list-inline">
                  


                  {% if request.user.get_username != object.username %}
                  <li><a class="btn-primary" href="{{ object.profile.get_follow_url }}">{% if following %}Unfollow{% else %}Follow{% endif %}</a></li>
        
               {% else %}

              <li><a class="btn-primary" href="{% url 'profiles:profileedit'  %}"><i class="fa fa-pencil "></i>&nbsp; Edit</a></li>

               {% endif %}

                </ul>
              </div>
            </div>
          </div><!--Timeline Menu for Large Screens End-->

          <!--Timeline Menu for Small Screens-->
          <div class="navbar-mobile hidden-lg hidden-md">
            <div class="profile-info">

              <div class="editbutton">
                  {% if object.profile.profile_image %} 

                    <img src="{{ object.profile.profile_image.url }}" alt="" class="img-responsive profile-photo" />
                     <div class="edit"><a href="#" ><i class="fa fa-pencil fa-lg"></i></a></div>
                    {% else %} 
                    <img src="http://placehold.it/300x300" alt="" class="img-responsive profile-photo" />
                    {% endif %}
                   
                  </div>
              <h4>{{ object.username }}</h4>
              <p class="text-muted">Creative Director</p>

              
            </div>
            <div class="mobile-menu">
              <ul class="list-inline">
               <li><a href="{% url 'profiles:detail' object.username %}" >Timeline</a></li>
                  <li><a href="{% url 'profiles:about' object.username %}" >About</a></li>
                  <li><a href="{% url 'profiles:album' object.username %}">Album</a></li>
                  <li><a href="{% url 'profiles:following' object.username %}">Following ({{ object.profile.get_following.count }})</a></li>
                  <li><a href="{% url 'profiles:followers' object.username %} " class="active">Followers ({{ object.followed_by.all.count }})</a></li></li>
              </ul>

              {% if request.user.get_username != object.username %}
                  <a class="btn-primary" href="{{ object.profile.get_follow_url }}">{% if following %}Unfollow{% else %}Follow{% endif %}</a>
        
               {% else %}

              <li><a class="btn-primary" href="{% url 'profiles:profileedit'  %}"><i class="fa fa-pencil "></i>&nbsp; Edit</a></li>

               {% endif %}

              
            </div>
          </div><!--Timeline Menu for Small Screens End-->

        </div>



        
        <div id="page-contents">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-7">
            	<div class="friend-list">
            		<div class="row">

            			{% for profile in object.followed_by.all %}

            				<div class="col-md-6 col-sm-6">
                    <div class="friend-card">
                     {% if profile.user.profile.cover_image %} 

                    <img src="{{ profile.user.profile.cover_image.url }}" alt="profile-cover" class="img-responsive cover" />
                     
                    {% else %} 
                   <img src="http://placehold.it/1030x360" alt="profile-cover" class="img-responsive cover" />
                    {% endif %}

                      <div class="card-info">
                        {% if profile.user.profile.profile_image %} 

                    <img src="{{ profile.user.profile.profile_image.url }}" alt="user" class="profile-photo-lg" />
                     
                    {% else %} 
                    <img src="http://placehold.it/300x300" alt="user" class="profile-photo-lg" />
                    {% endif %}
                        <div class="friend-info">
                          <a href="#" class="pull-right text-green">My Friend</a>
                          <h5><a href='/{{ profile.user.username }}' class="profile-link">{{ profile.user.username }}</a></h5>
                          <p>Student at Harvard</p>
                        </div>
                      </div>
                    </div>
                  </div>


		

		{% empty %}

		<h4>Not Followed by Any Users </h4>

	{% endfor %}

            			




            		</div>
            	</div>
              

              



            </div>


            <div class="col-md-2 static">
              <div id="sticky-sidebar">
                <h4 class="grey">Recommended Users</h4>
                <div class="feed-item">
                  <div class="live-activity">
                    <p>{% recommended request.user %}</p>
                    
                  </div>
                </div>
                
                
              </div>
            </div>
          </div>
        </div>









    </div>
</div>








<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
     <script type="text/javascript" src="{% static 'js/js/bootstrap.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.sticky-kit.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/jquery.scrollbar.min.js' %}"></script>
     <script type="text/javascript" src="{% static 'js/script.js' %}"></script>


  





 


  
  </body>
</html>